
<div class="container">
    
<mat-form-field class="Filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Rou" #input>
</mat-form-field>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let cell" class="Id">{{cell.Id}}</td>
    </ng-container>

    <ng-container matColumnDef="MainCharacter">
        <th mat-header-cell *matHeaderCellDef>Main Character</th>
        <td mat-cell *matCellDef="let cell" class="MainCharacter">{{cell.MainCharacter}}</td>
    </ng-container>

    <ng-container matColumnDef="AnimeName">
        <th mat-header-cell *matHeaderCellDef>Anime Name</th>
        <td mat-cell *matCellDef="let cell" class="AnimeName">{{cell.AnimeName}}</td>
    </ng-container>

    <ng-container matColumnDef="AnimeSeason">
        <th mat-header-cell *matHeaderCellDef>Number Of Seasons</th>
        <td mat-cell *matCellDef="let cell" class="AnimeSeason">{{cell.AnimeSeason}}</td>
    </ng-container>

    <ng-container matColumnDef="AnimeEpisodes">
        <th mat-header-cell *matHeaderCellDef>Number Of Episodes</th>
        <td mat-cell *matCellDef="let cell" class="AnimeEpisodes">{{cell.AnimeEpisodes}}</td>
    </ng-container>

    <ng-container matColumnDef="AnimeImage">
        <th mat-header-cell *matHeaderCellDef>Poster Image</th>
        <td mat-cell *matCellDef="let cell" class="poster"><img [src]="cell.AnimeImage" alt="Poster"/></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="Title"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


<mat-paginator [pageSizeOptions]="[3, 6, 12]" showFirstLastButtons class="pagine"></mat-paginator>

</div>